<!DOCTYPE html>
<html>



<body>

<!-- search area -->
    <header>
        <h3 class="h6">Search the blog</h3>
    </header>
    <form action="{% url 'search' %}" class="search-form">
        <div class="form-group">
        <input type="text" name="q" placeholder="What are you looking for?">
        <button type="submit" onClick="showHideDiv('divMsg')">search</button>
        </div>
    </form>
<!-- print the data from paginated query set -->
    {% for Q in search_objects %}
    {{Q.title}}<br/>
    {{Q.description}}<br/>
    {{Q.datetime}}<br/>
    {{Q.thumbnail}}<br/>

    <br/><br/>
{% endfor %}
                        <nav aria-label="Page navigation example">
    <ul class="pagination pagination-template d-flex justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}&q={{request.GET.q}}" class="page-link">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.number }}&q={{request.GET.q}}" class="page-link active">
                            {{ num }}
                        </a>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a href="?page={{ num }}&q={{request.GET.q}}" class="page-link ">
                        {{ num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}&q={{request.GET.q}}" class="page-link">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>


</body>

</html>
