<!DOCTYPE html>
<html>



<body>

<!-- search area -->
    <header>
        <h3 class="h6">Search the blog</h3>
    </header>
    <form action="{% url 'search' %}" class="search-form">
        <div class="form-group">
        <input type="text" name="q" placeholder="What are you looking for?">
        <button type="submit" onClick="showHideDiv('divMsg')">search</button>
        </div>
    </form>
<!-- print the data from paginated query set -->
    {% for Q in search_objects %}
    {{Q.title}}<br/>
    {{Q.description}}<br/>
    {{Q.datetime}}<br/>
    {{Q.thumbnail}}<br/>

    <br/><br/>
{% endfor %}
                        {% load mathfilters %}
                    {% if is_paginated %}
                        <div class="blog-pagination">
                            <ul class="flat-pagination clearfix">
                                {% if page_obj.has_previous  %}
                                    <li class="prev">
                                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                {% endif %}
                                {% for page in page_obj.paginator.page_range %}
                                  {% if page >= page_obj.number|sub:"2" %}
                                    {% if page <= page_obj.number|add:"2" %}
                                      <li {% if page ==  page_obj.number %}class="active"{% endif %}><a {% if page !=  page_obj.number %}href="?page={{ page }}{% endif %}">{{ page }}</a></li>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="next">
                                        <a href="page={{ page_obj.next_page_number }}&q={{ searchKey }}"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                {% endif %}
                            </ul><!-- /.flat-pagination -->
                        </div><!-- /.blog-pagination -->
                    {% endif %}


</body>

</html>